# .github/workflows/actualizar-playlist.yml
name: Actualizar Playlist M3U
on:
  schedule:
    - cron: '0 * * * *'   # Cada hora (UTC)
  workflow_dispatch:      # Permite ejecuci贸n manual

#  Dar permiso de escritura al GITHUB_TOKEN
permissions:
  contents: write

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout c贸digo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          persist-credentials: true
          fetch-depth: 0

      - name: Instalar Chrome y WebDriver
        run: |
          sudo apt-get update
          sudo apt-get install -y chromium-browser chromium-chromedriver

      - name: Configurar Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Instalar dependencias Python
        run: |
          # Forzamos blinker<1.8.0 para que selenium-wire encuentre blinker._saferef
          pip install "blinker<1.8.0" selenium-wire

      - name: Ejecutar script de extracci贸n
        run: |
          export PATH=$PATH:/usr/bin/chromium-browser
          python3 generar_playlist.py

      - name: Subir cambios
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add playlist.m3u
          git diff --cached --quiet || git commit -m "Actualizaci贸n autom谩tica: $(date '+%Y-%m-%d %H:%M:%S')"
          git push origin HEAD:main
